<!DOCTYPE html>
<html>

<head> 
	<title> Temples </title>	
</head>
<body>
	<h1> Search Temples in US </h1>	
	<form action="/search" id="search">
	<lable for="SearchBar"></lable>
	<select name="state", required>
            <option disabled="" selected="">State</option>
      	<option value="AK">AK</option>
      	<option value="AZ">AZ</option>
      	<option value="CA">CA</option>
      	<option value="CO">CO</option>
      	<option value="HI">HI</option>
      	<option value="ID">ID</option>
      	<option value="NV">NV</option>
      	<option value="NM">NM</option>
      	<option value="OR">OR</option>
      	<option value="UT">UT</option>
            <option value="WA">WA</option>            
      </select><input id="zipcode" class="zipcode" type="text" name="zipcode" placeholder="Zipcode" onchange="zipcode_validate(this.form.zipcode.value)" required><input type="submit" id="searchBtn" value="GO!"/>
	</form>
</body>

<script type="text/javascript">

 function zipcode_validate(zipcode) { 
            var isValid = /^([0-9]){5}(([ ]|[-])?([0-9]){4})?$/.test(zipcode);      
             if (!isValid) {
             
                  alert("Please enter a valid zipcode");
                document.getElementByID("zipcode").value="";
            }
      }
</script>

</html>