{% extends 'base.html' %}
{% block content %}

    <h1>Login</h1>
    <form action="/login" method="POST">

        <div>
            <label>Email:
                <input type="email" name="email" required>
            </label>
        </div>

        <br>

        <div>
            <label>Password:
                <input type="pass_word" name="pass_word" required>
            </label>
        </div>

        <br>

        <div>
            <input type="submit" value="Log In">
        </div>

    </form>
{% endblock %}