{% extends 'base.html' %}
{% block content %}

<h1>Register</h1>

<form action="register" method="POST">

    <div>
        <label>
            Email
            <input type="text" name="email">
        </label>
    </div>

    <div>
        <label>
            Password
            <input type="text" name="password">
        </label>
    </div>

    <div>
        <label>
            Firstname
            <input type="text" name="firstname">
        </label>
    </div>

    <div>
        <label>
            Lastname
            <input type="text" name="lastname">
        </label>
    </div>


    <div>
        <label>
            Address
            <input type="text" name="address">
        </label>
    </div>

    <div>
        <lable>
            City
            <input type = "text" name="city">
        </label> 
    </div>   

    <div>
        <lable>
            State
            <input type = "text" name="state">
        </label> 
    </div>   

    <div>
        <input type="submit" value="Register">
    </div>

</form>

{% endblock %}