<!DOCTYPE html>
<html>
<head> 
  <title> Search Temples in US </title>
  <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #templemap {
        height: 600px;
        width: 600px;
        background-color:grey;
      }

      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

    </style>
</head>
<body>
<div>
    <h2>Temples</h2>
    
    <ul>
      {% for temple in temples %}
          <li>
              <a href="/temple/{{temple.temple_id}}">   
                {{ temple.t_name }}
                {{ temple.address }} 
                {{ temple.city }}
                {{ temple.state}}
                {{ temple.zipcode}}
                {% for phone in temple.phone %}
                    {{ phone.phone_no_1 }}
                {% endfor %}
              </a>
          </li>
      {% endfor %}
    </ul>

<div id="templemap"> </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmFXqsKBnKV-7mHml_tn9fRgbrCtUqFLo" async defer></script>

<div id="templemap"></div>
<script type="text/javascript"> 


$( document ).ready(function()  {

    {% for temple in temples %}      
      var zipcodelat = parseFloat("{{temple.latitude}}");
      console.log(zipcodelat)
      var zipcodelong = parseFloat("{{temple.longitude}}");
      console.log(zipcodelong)
      var pos = {lat: zipcodelat, lng: zipcodelong};
      console.log(pos)

    {% endfor %}

      var map = new google.maps.Map(document.getElementById('templemap'), {
        center: pos,
        zoom: 8
        });

       {% for temple in temples %}
    
        var lat = parseFloat("{{temple.latitude}}");
        console.log(lat)

        var longt = parseFloat("{{temple.longitude}}");
        console.log(longt)
        var pos = {lat: lat, lng:longt}

        var markers = new google.maps.Marker ({
        position: pos,
        map: map
        });

    {% endfor %} 
    
  });


</script>

</body>
</html>
