{% extends 'base.html' %}
{% block content %}
<style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #templemap {
        height: 600px;
        width: 600px;
        background-color:grey;
      }

      html, body {
        height: 100%;
        margin: 0;
        padding: 0;ty
      }
</style>

{% if user_id %}
<a href="/users/{{user_id}}">User Profile </a>
{% endif %}

<div>
  <h2>{{temple.t_name}}</h2>
  <p>{{temple.address}}</p>
  <p>{{temple.city}}</p>
  <p>{{temple.state}} {{temple.zipcode}}</p>
</div>


{% if user_id %}

Save Temple:
  
  <form action="/savetemple" method="POST", id="savetemple">
    <input type="text" name="templeid" id = "templeid" Value="{{temple.temple_id}}"> 
    <input type="submit" id = "btnsubmit" Value="submit">
  </form>



<form action="/saveratings", method="POST" id="saveratings">
  Save Ratings:
  <div>
    <input type="text" name="templeid" Value="{{temple.temple_id}}" hidden> 
  </div>
    <div>
    <select name="score">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </div>
  <div>
      <textarea name="comments"></textarea>
  </div>

    <input type="submit" value="Save Ratings">
</form>

{% else %}
  <h3> Please longin to see the form </h3>

{% endif %}

<div id="templemap"> </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmFXqsKBnKV-7mHml_tn9fRgbrCtUqFLo" async defer></script>

<div id="templemap"></div>
<script type="text/javascript"> 


$( document ).ready(function()  {
    
      var lat = parseFloat("{{temple.latitude}}");
      console.log(lat)
      var longt = parseFloat("{{temple.longitude}}");
      console.log(longt)
      
      var pos = {lat: lat, lng:longt}
      
      var map = new google.maps.Map(document.getElementById('templemap'), {
        center: pos,
        zoom: 8
        });

        var markers = new google.maps.Marker ({
        position: pos,
        map: map
        });
    
  });


</script>

{% endblock %}






